@media(max-width: 744px) {
    .main_header_ul {
        gap: 22px;
    }


    /* section_1 */


    .section_1 {
        
        padding: 24px;
        flex-direction: column;
        gap: 10px;
    }

    .section_1_div{
        width: 100%;
        height: 215px;
    }

    .section_title{
        width: 100%;
        font-size: 40px;

    }

    .section_text {
        font: 18px;
        width: 85%;
    }

    .section_tabletsmall_text {
        display: block;
        margin-top: 16px;
    }
}